body{
    font-family: 'JetBrains Mono', monospace;
    background-color: #191919;
    color: #FFFFFF;
    margin: 0;
}
/* Header */


#menu{
    background-color: #3D444C;
    display: flex;
    justify-content: space-around;
}

#logo{
    width: 80px;
}

ul{
    width: 500px;
    display: flex;
    list-style: none;
}

ul > li{
    margin-right: 30px;
}

/* Main */
main{
    width: 960px;
    margin: 0 auto;
}

h2{
    margin: 70px 0px;
}

.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
}
p, #myself{
    width: 300px;
}

/* Footer */